<%- include('templates/encabezado', {tituloPestanya: 'galeria de fotos' })%>
    <header class="section">
        <h1 class="title is-1 has-text-centered">Mi galería de fotos</h1>
    </header>
    <section class="section is-flex is-justify-content-space-around is-flex-wrap-wrap">
        <div class="container is-flex is-justify-content-center m-1">
            <img class="has-ratio" width="600" height="320" src="/mixeta.jpeg" alt="Foto de la mixeta">
        </div>
        <div class="container is-flex is-justify-content-center m-1">
            <img class="has-ratio" width="600" height="320" src="/mixeta2.jpeg" alt="Foto de la mixeta">
        </div>
    </section>
    <section class="section">
        <div class="container has-text-centered">
            <a href="/">Home</a>
        </div>
    </section>

    <%- include('templates/footer')%>