<%- include('templates/encabezado', {tituloPestanya: 'Pagina Principal' })%>

    <header class="section">
        <div class="container has-text-centered">
            <h1 class="title is-1">Bienvenidos a mi sitio web</h1>
        </div>
    </header>
    <main>
        <section class="section">
            <div class="container">
                <p>Soy una gata salvaje, una elegante criatura blanca con manchas atigradas que vive entre los árboles
                    del
                    bosque, mi hogar. A diario, mi instinto me guía a través de la frondosidad en busca de un refugio
                    temporal
                    en tu casa. Con ojos curiosos y ronroneos suaves, busco no solo la lata de comida gourmet, sino
                    también un
                    encuentro fugaz que entrelace nuestras vidas. Aunque el bosque es mi reino, tu generosidad se
                    convierte en
                    un vínculo especial, fusionando la naturaleza salvaje con la cálida hospitalidad humana en una
                    sinfonía
                    única en la vastedad de la vida silvestre.</p>
            </div>

        </section>
        <section class="section">
            <div class="container has-text-centered">
                <a href="/fotos">Mi galeria de fotos</a>
            </div>
        </section>

    </main>

    <%- include('templates/footer')%>